.containerMap{
  height:100vh;
  align-items:center;
  justify-content:center;
  display:flex;
  background-image: radial-gradient(circle at 50% -20.71%, #fbf3e6 0, #f9eddd 10%, #f7e5d3 20%, #f5ddc9 30%, #f4d3bf 40%, #f2c9b5 50%, #f0beac 60%, #efb5a6 70%, #edaba1 80%, #eca39f 90%, #e99b9f 100%);
}



#PER{
  width: 60%;
  fill:#77CA44;
  stroke:black;
  stroke-width:4;
}

path:hover{
 fill:#5CAB2B;
 transform: scale(1.01);
 cursor:pointer;
}


.information{
  background:#5C5C5C;
}
